.Nav-bar {
	color: var(--alt-color);
	padding: 10px;
	display: flex;
}

.Nav-button {
	width: 100%;
	background-color: var(--glass-color);
	border: 1px solid var(--accent-color-2);
	border-radius: 5px;
	color: var(--alt-color);
	font-size: 20px;
	padding-bottom: 15px;
}
	@keyframes hovered {
		0% {
			background-color: var(--glass-color);
		}
		100% {
			background-color: var(--off-main-color);
		}
	}

	.Nav-button.Active {
		color: var(--highlight-color);
	}

	.Nav-button:hover {
		background-color: var(--off-main-color);
		animation-duration: 1s;
		animation-name: hovered;
	}

.Side-bar {
	display: inline-flex;
	flex-direction: row;
	position: fixed;
}

@media (min-width: 1000px) {
	.Side-bar {
		margin-top: 20%;
		width: 10%;
		flex-direction: column;
		margin-left: -8%;
	}
}
