:root {
	--main-color: #2c3e50;
	--off-main-color: #385e85;
	--alt-color: #dfe4ec;
	--accent-color:  #0eebc659;
	--accent-color-2: #3976d3;
	--highlight-color: #f1c40f;
}

body {
	background-color: var(--main-color);
}

.app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--alt-color);
	margin-left: 10%;
	display: inline-flex;
	align-self: center;
	align-content: center;
	flex-direction: column;
}

.Content-box {
	min-height: 100%;
	visibility: visible;
	display: flex;
	flex-direction: column;
	align-self: center;
	border-radius: 5px;
	padding: 2em;
	margin-top: 1em;
	box-shadow: 1px 1px 5px 5px var(--accent-color), -1px -1px 5px 2px var(--accent-color), inset 1px 1px 1px 1px var(--accent-color), inset -1px -1px 1px 1px var(--accent-color);
}

	.Content-box h1 {
		font-size: 40px;
		margin-top: 20px;
		width: 100%;
	}
	.Content-box p {
		font-size: 20px;
		margin-top: 20px;
		width: 100%;
	}
	.Content-box button {
		width: 100%;
		height: 50px;
		border-radius: 5px;
		font-size: 20px;
		padding-bottom: 15px;
	}
	.Content-box button:hover {
		color: var(--highlight-color);
	}

.Card {
	border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: 'odstemplikRegular';
	font-weight: bolder;
   	font-style: italic;
	font-size: 4em;
	margin-top: 20%;
}

.Skill-list {
	align-self: center;
	margin-left: -3em;
}

.Skill-item {
	display: inline-block;
	width: 33%;
	height: 2em;
	font-size: 20px;
	padding: 15px;
}

.Tech-list {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.Tech-item {
	font-size: 20px;
	list-style-type: none;
	display: flex;
}

	.Tech-item img {
		margin-right: 25px;
		width: 2em;
		height: 2em;
	}
