:root {
	--main-color: #2c3e50;
	--off-main-color: #385e85;
	--alt-color: #dfe4ec;
	--accent-color:  #0eebc659;
	--accent-color-2: #103d80cc;
	--highlight-color: #f1c40f;
}

@keyframes wave {
	100% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	0% {
		background-position: 0% 50%;
	}
}

html {
	animation: wave 25s ease infinite;
	height: 100%;
	background-image:
		repeating-linear-gradient(45deg, var(--main-color) 0%, var(--off-main-color) 50%, var(--accent-color-2) 100%),
		repeating-radial-gradient(circle at bottom left, var(--main-color) 0%, var(--off-main-color) 50%, var(--accent-color) 100%);
	background-size: 400% 400%;

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

.app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--alt-color);
	margin-left: 10%;
	display: inline-flex;
	align-self: center;
	align-content: center;
	flex-direction: column;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6),
			0 -5px -15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
		transform: translatex(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2), */
		box-shadow: 0 25px 15px 0px var(--accent-color),
			0 -25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
		transform: translatex(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6),
			0 -5px -15px 0px rgba(0,0,0,0.6);

		transform: translatey(0px);
		transform: translatex(0px);
	}
}

.Content-box {
	min-height: 100%;
	visibility: visible;
	display: flex;
	flex-direction: column;
	align-self: center;
	border-radius: 5px;
	padding: 2em;
	margin-top: 1em;
	margin-bottom: 2em;
	animation: float 25s ease-in-out infinite;
}

	.Content-box h1 {
		font-size: 40px;
		margin-top: 20px;
		width: 100%;
	}
	.Content-box p {
		font-size: 20px;
		margin-top: 20px;
		width: 100%;
	}
	.Content-box button {
		width: 100%;
		height: 50px;
		border-radius: 5px;
		font-size: 20px;
		padding-bottom: 15px;
	}
	.Content-box button:hover {
		color: var(--highlight-color);
	}

.Card {
	border-radius: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

h1 {
	font-family: 'odstemplikRegular';
	font-weight: bolder;
   	font-style: italic;
	font-size: 4em;
	margin-top: 20%;
}

.Skill-list {
	align-self: center;
	margin-left: -3em;
}

.Skill-item {
	display: inline-block;
	width: 33%;
	height: 2em;
	font-size: 20px;
	padding: 15px;
}

.Tech-list {
	display: flex;
	flex-direction: column;
	align-self: center;
}

.Tech-item {
	font-size: 20px;
	list-style-type: none;
	display: flex;
}

	.Tech-item img {
		margin-right: 25px;
		width: 2em;
		height: 2em;
	}
