:root {
	--main-color: #2c3e50;
	--off-main-color: #385e85;
	--alt-color: #dfe4ec;
	--accent-color: #0eebc6;
	--accent-color-2: #3976d3;
	--highlight-color: #f1c40f;
}

body {
	background-color: var(--main-color);
	display: inline-flex;
	align-content: center;
}

.app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: var(--alt-color);
	margin-top: 10%;
	margin-left: 10%;
	max-width: 80%;
	display: inline-flex;
	align-self: center;
	flex-direction: column;
}

.Title-box {
	color: var(--alt-color);
	background-color: var(--main-color);
	width: 60%;
	box-shadow: inset 0 0 10px var(--accent-color-2);
	padding: 10px;
	margin-left: 20%;
	position: fixed;
}
	.Title-box h1 {
		font-size: 40px;
		margin-top: 20px;
		width: 100%;
	}

.Nav-bar {
	width: 100%;
	display: flex;
}

.Nav-button {
	width: 100%;
	background-color: var(--main-color);
	border: 1px solid var(--accent-color-2);
	border-radius: 5px;
	color: var(--alt-color-2);
	font-size: 20px;
	padding-bottom: 15px;
}
	.Nav-button.Active {
		color: var(--accent-color);
	}
	.Nav-button:hover {
		color: var(--highlight-color);
	}

.Content-box {
	width: 50%;
	min-height: 100%;
	visibility: visible;
	display: flex;
	flex-direction: column;
	align-self: center;
	border-radius: 5px;
	padding: 2em;
	margin-top: 1em;
}

@keyframes wave {
	from {box-shadow: none;}
	to {box-shadow: 2px 0 0 0 var(--off-main-color), -2px 0 0 0 var(--off-main-color);}
  }
	.Content-box.Active {
		visibility: visible;

		animation-name: wave;
  		animation-duration: .2s;
	}
	.Content-box h1 {
		font-size: 40px;
		margin-top: 20px;
		width: 100%;
	}
	.Content-box p {
		font-size: 20px;
		margin-top: 20px;
		width: 100%;
	}
	.Content-box button {
		width: 100%;
		height: 50px;
		border-radius: 5px;
		font-size: 20px;
		padding-bottom: 15px;
	}
	.Content-box button:hover {
		color: var(--highlight-color);
	}

.Card {
	border: 1px solid var(--accent-color);
	border-radius: 5px;
	padding: 20px;
}

ul {
	align-self: center;
	width: 33%;
}

li {
	display: inline-block;
	width: 33%;
	height: 2em;
	font-size: 20px;
	padding: 15px;
	border: 1px solid #ffffff00;
}
	li:hover {
		border: 1px solid var(--accent-color-2);
		border-radius: 5px;
		color: var(--highlight-color);
	}
