section
	display: flex
	flex-direction: column
	text-align: center

	padding-left: 2em
	padding-right: 2em

	border: 2px solid var(--accent-color)
	border-radius: 5px

	background-color: var(--glass-color)
	background-size: cover
	margin: 0
	margin-top: 5vh
	margin-bottom: 5vh

	transition: transform 0.5s ease-out

	@media (max-width: 800px)
		width: 80vw
		margin: 5vw !important

.First
	display: flex
	margin-top: 1vh

	@media (max-width: 800px)
		flex-direction: column

	> section
		background-color: unset

		@media (min-width: 800px)
			width: 40vw

	p
		font-size: 20px
		margin-top: 20px
		margin-left: 5%
		width: 90%

.About
	margin-right: 5vw

.Card
	flex-direction: row

.Right
	padding-left: 1em
	align-self: right
	padding-right: 0

	border-left: 2px solid var(--accent-color)
.Left
	padding-right: 1em
	border-right: 2px solid var(--accent-color)

.Skill-list
	align-self: center
	margin-left: -3em
	display: grid
	grid-template-columns: repeat(2, 1fr)
	grid-template-rows: repeat(2, 1fr)
	grid-column-gap: 10px
	grid-row-gap: 10px

.Skill-item
	display: inline-block
	font-size: 20px
	padding: 15px

.Tech-list
	display: grid
	place-content: center
	grid-template-columns: repeat(2, auto)
	align-self: center

.Tech-item
	margin: 5px
	object-fit: cover
	font-size: 20px
	list-style-type: none
	display: flex

	& img
		margin-right: 25px
		width: 2em
		height: 2em

#Connect
	margin-top: 65vh
	margin-bottom: 20vh
