section
	display: block

	text-align: center
	font-size: 20px

	padding-left: 2em
	padding-right: 2em

	border: 2px solid var(--accent-color)
	border-radius: 5px

	margin-top: 5vh
	margin-bottom: 5vh
	margin: 5vw

	background-color: var(--glass-color)
	background-size: cover

	transition: transform 0.5s ease-out
	min-height: 40vh

	p
		font-size: 20px

aside
	width: 10vw
	@media (min-width: 550px)
		float: right
	font-style: italic

	margin-right: 12vw
